<!-- IF S_DISPLAY_BIRTHDAY_LIST and .birthdays -->
<div class="stat-block hidebirthday-list">
	<h3>{L_BIRTHDAYS}</h3>
	<p>
		<!-- EVENT index_body_block_birthday_prepend -->
		<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
		<!-- EVENT index_body_block_birthday_append -->
	</p>
</div>
<!-- ENDIF -->